@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

p
{
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  color: Black;
  font-weight: 300;
}
h1
{
  font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 30px;
      color: #FFAA05;
    line-height: initial;
    padding:0px;

}
h3{
  font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #FFAA05;
    text-align: center;
    line-height: initial;
    margin-top: -30px;
}
body
{
  background-color: linen;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  color: #FFAA05;
  text-decoration:none;
  padding: 1px;
  margin-top: -50px;
  font-weight: 300;

}
.navbar-logo{
  padding: 1px;
  display: inline;
}
.navbar-a a{
  padding: 30px;
  text-decoration: none;
  color:#FFAA05;
}
.navbar-b a{
  padding: 30px;
  text-decoration:none;
  color:#FFAA05;

}
.navbar-c a{
  padding:30px;
  text-decoration: none;
color:#FFAA05;

}
.navbar-d a{
  padding:30px;
  text-decoration: none;
  color:#FFAA05;
}
.navbar-logo-2 {
  padding: 1px;
  display: inline;
}

.images{
  display:flex;
  justify-content: center;

}
.images-1{
padding:30px;
}
.images-2{
  padding:30px;
}


  @media screen and (min-width:400px) and (max-width: 700px) {
    .navbar {
      padding: 5px;
    }
    body{
      background-color: linen;
    }
  }
    @media screen and (max-width:1900px) and (min-width:1100px){
      .navbar{
        padding: 30px;
      }
      body{
        background-color: linen;
      }
    }
  .aboutme{
    display:flex;
    justify-content: flex-start;
    align-content: space-between;
    padding: 30px;

  }
  .aboutme-1{
    padding:0;
    margin-top: -15px;
  }
  .aboutme-2{
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFAA05;
  padding: 30px;
  flex-direction: column;
  margin-top: -70px;
}
.container div {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding: 30px;
  justify-content: center;
}
.contactme{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactme-h1{
  font-family:'Prompt', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: Black;
  padding: 0;
  justify-content: center;
}
.contactme-h2{
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: Black;
  padding: 0;
  justify-content:
}
.contactme-h3{
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: Black;
  padding: 0;
  justify-content: center;
}
.contactme-h4{
  border: Black;
  margin: 6px;
  justify-content: center;
}

form {
  font-family:'Prompt', sans-serif;
  color: black;
  justify-content: center;
}
input[type=text]{
  text-align: center;
  font-family: "gopher";
  width: 30%;
  padding:12px 50px;
  margin: 8px 0;
  background-color: #FDD7B1;
  border:2px solid black;
  border-radius: 4px;
  color: #000000;

}
.portfolio{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.portfolio-1{
  padding: 30px;
}
.portfolio-2{
  padding: 30px;
}
.portfolio-3{
  padding: 30px;
}

.projects{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  color: #FFAA05;
  text-decoration:none;
  padding: 1px;
  margin-top: -30px;
  font-weight: 500;
  word-spacing: 10px;
  padding-left: 400px;
  padding-right: 400px;
}
.projects-1 a{
  padding:0px;
  text-decoration: none;
  color:#FFAA05;
}
.projects-2 a{
  padding:0px;
  text-decoration: none;
  color:#FFAA05;
}
.projects-3 a{
  padding: 0px;
  text-decoration: none;
  color:#FFAA05;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
