@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Serif:wght@100&family=Rubik:ital@1&display=swap');
p
{
  font-family: "Gopher";
  font-size: 15px;
  color: Black;
}
h1
{
  font-family: "Gopher";
    font-weight: 600px;
    font-size: 40px;
    font-style: bold italic;
    line-height: initial;
}
h2{
  font-family: 'Gopher' italic;
  font-size: 30px;
  font-weight: 300px;
}
body
{
  background-color: linen;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "gopher";
  color: black;
}
.navbar-logo{
  padding: 30px;
}
.navbar-a{
  padding: 30px;
}
.navbar-b{
  padding: 30px
}
.navbar-c{
  padding:30px;
}
.navbar-d{
  padding:30px
}

.images{
  display:flex;
  justify-content: center;

}
.images-1{
padding:30px;
}
.images-2{
  padding:30px;
}
  @media screen and (min-width:400px) and (max-width: 700px) {
    .navbar {
      padding: 5px;
    }
    body{
      background-color: linen;
    }
  }
    @media screen and (max-width:1900px) and (max-width:1100px){
      .navbar{
        padding: 30px;
      }
      body{
        background-color: linen;
      }
    }
